{"openapi":"3.0.1","info":{"title":"Configuration API","description":"REST API to manage configuration","version":"2.1"},"servers":[{"url":"https://api.logdna.com/"}],"security":[{"servicekeyAuth":[]},{"basicAuth":[]}],"paths":{"/v1/config/view":{"get":{"summary":"List Views","description":"Get a list of views.","operationId":"list-view","responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"type":"object","additionalProperties":{"type":"object","properties":{}}}}}},"400":{"description":"Bad request","content":{}}}},"post":{"summary":"Create View","description":"Use this method to create a view and attach alerts to the view.","operationId":"create-view","requestBody":{"description":"Request parameters","content":{"application/json":{"schema":{"$ref":"#/components/schemas/configRequest"}}},"required":true},"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"type":"object","additionalProperties":{"type":"object","properties":{}}}}}},"400":{"description":"Bad request","content":{}}},"deprecated":false,"x-codegen-request-body-name":"configRequest"}},"/v1/config/view/{viewId}":{"get":{"summary":"Get View","description":"Gets the configuration for a specific view.","operationId":"get-view","parameters":[{"name":"viewId","in":"path","description":"ID of a view.","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"type":"object","additionalProperties":{"type":"object","properties":{}}}}}},"400":{"description":"Bad request","content":{}}}},"put":{"summary":"Update View","description":"Use this method to update a view. You can change the view configuration details; add or remove view specific alerts; or attach and detach preset alerts.","operationId":"update-view","parameters":[{"name":"viewId","in":"path","description":"ID of a view.","required":true,"schema":{"type":"string"}}],"requestBody":{"description":"Request parameters","content":{"application/json":{"schema":{"$ref":"#/components/schemas/configRequest"}}},"required":true},"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"type":"object","additionalProperties":{"type":"object","properties":{}}}}}},"400":{"description":"Bad request","content":{}}},"deprecated":false,"x-codegen-request-body-name":"configRequest"},"delete":{"summary":"Delete View","description":"Use this method to delete a view and any attached alerts.","operationId":"delete-view","parameters":[{"name":"viewId","in":"path","description":"ID of a view.","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"type":"object","additionalProperties":{"type":"object","properties":{}}}}}},"400":{"description":"Bad request","content":{}}},"deprecated":false,"x-codegen-request-body-name":"configRequest"}},"/v1/config/presetalert":{"get":{"summary":"List Preset ALerts","description":"Returns all Preset Alerts in the account.","operationId":"list-alerts","responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"type":"object","additionalProperties":{"type":"object","properties":{}}}}}},"400":{"description":"Bad request","content":{}}}},"post":{"summary":"Create Preset Alert","description":"Use this method to create a preset alert.","operationId":"create-alert","requestBody":{"description":"Request parameters","content":{"application/json":{"schema":{"$ref":"#/components/schemas/presetRequest"}}},"required":true},"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"type":"object","additionalProperties":{"type":"object","properties":{}}}}}},"400":{"description":"Bad request","content":{}}}}},"/v1/config/presetalert/{presetId}":{"get":{"summary":"Get Preset Alert","description":"Get a specific preset alert","operationId":"get-alert","parameters":[{"name":"presetId","in":"path","description":"ID of a preset alert.","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"type":"object","additionalProperties":{"type":"object","properties":{}}}}}},"400":{"description":"Bad request","content":{}}}},"put":{"summary":"Update Alert","description":"Update a specific preset alert.","operationId":"update-preset","parameters":[{"name":"presetId","in":"path","description":"ID of a preset alert.","required":true,"schema":{"type":"string"}}],"requestBody":{"description":"Request parameters","content":{"application/json":{"schema":{"$ref":"#/components/schemas/presetRequest"}}},"required":true},"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"type":"object","additionalProperties":{"type":"object","properties":{}}}}}},"400":{"description":"Bad request","content":{}}}},"delete":{"summary":"Delete Alert","description":"Use this method to delete a preset alert.","operationId":"delete-alert","parameters":[{"name":"presetId","in":"path","description":"ID of a preset alert.","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"type":"object","additionalProperties":{"type":"object","properties":{}}}}}},"400":{"description":"Bad request","content":{}}}}},"/v1/config/categories/{type}":{"get":{"summary":"List Categories","description":"Returns all Categories of a type.","operationId":"list-categories","parameters":[{"name":"type","in":"path","description":"Category type.  Must be [views, boards, screens]","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"type":"object","additionalProperties":{"type":"object","properties":{}}}}}},"400":{"description":"Bad request","content":{}}}},"post":{"summary":"Create New Category","description":"Creates a new category of this type.","operationId":"create-category","parameters":[{"name":"type","in":"path","description":"Category type.  Must be [views, boards, screens]","required":true,"schema":{"type":"string"}}],"requestBody":{"description":"Request parameters","content":{"application/json":{"schema":{"$ref":"#/components/schemas/categoryName"}}},"required":true},"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"type":"object","additionalProperties":{"type":"object","properties":{}}}}}},"400":{"description":"Bad request","content":{}}}}},"/v1/config/categories/{type}/{id}":{"get":{"summary":"Get Category","description":"Get a specific category","operationId":"get-category","parameters":[{"name":"type","in":"path","description":"Category type.  Must be [views, boards, screens]","required":true,"schema":{"type":"string"}},{"name":"id","in":"path","description":"ID of category.","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"type":"object","additionalProperties":{"type":"object","properties":{}}}}}},"400":{"description":"Bad request","content":{}}}},"put":{"summary":"Update Category","description":"Update a specific category.","operationId":"update-category","parameters":[{"name":"type","in":"path","description":"Category type.  Must be [views, boards, screens]","required":true,"schema":{"type":"string"}},{"name":"id","in":"path","description":"ID of category.","required":true,"schema":{"type":"string"}}],"requestBody":{"description":"Request parameters","content":{"application/json":{"schema":{"$ref":"#/components/schemas/categoryName"}}},"required":true},"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"type":"object","additionalProperties":{"type":"object","properties":{}}}}}},"400":{"description":"Bad request","content":{}}}},"delete":{"summary":"Delete Category","description":"Use this method to delete a category.","operationId":"delete-category","parameters":[{"name":"type","in":"path","description":"Category type.  Must be [views, boards, screens]","required":true,"schema":{"type":"string"}},{"name":"id","in":"path","description":"ID of category.","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"type":"object","additionalProperties":{"type":"object","properties":{}}}}}},"400":{"description":"Bad request","content":{}}}}}},"components":{"responses":{"streamErrResponse401":{"description":"Not Authorized","content":{"*/*":{"schema":{"$ref":"#/components/schemas/errPropsDefault"}},"application/json":{"example":{"code":"NotAuthorized","error":"Missing Credentials"}}}},"streamErrResponse500":{"description":"Internal Server Error","content":{"*/*":{"schema":{"$ref":"#/components/schemas/errPropsDefault"}},"application/json":{"example":{"code":"ServerError","error":"Database operation failed to get stream configuration."}}}},"streamResponse200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/streamConfigCommon"}},"application/json":{"example":{"brokers":["broker-1.kafka.svc00.env.eventstreams.cloud.ibm.com:9093"],"topic":"topic","user":"token","status":"active"}}}},"standardResponse200":{"description":"OK","content":{"application/json":{"schema":{"type":"object","properties":{"status":{"type":"string","example":"OK"}}}}}}},"parameters":{},"schemas":{"password":{"type":"string","description":"Password provided in credentials for authorization","format":"password"},"hostName":{"type":"string","description":"Host name of the source."},"mac":{"type":"string","description":"The network mac address of the host computer.","pattern":"^([0-9A-Fa-f]{2}[:-]){5}([0-9A-Fa-f]{2})$","example":"01:02:03:04:ab:cd"},"ip":{"type":"string","description":"The local IP address of the host computer (ipv4 or ipv6)","example":"10.0.1.111"},"now":{"type":"string","description":"Field format in date-time notation. The source UNIX timestamp in milliseconds at the time of the request. Used to calculate time drift."},"line":{"type":"string","description":"Text of the log line."},"timestamp":{"type":"string","description":"UNIX timestamp, including milliseconds, when the log entry was recorded."},"app":{"type":"string","description":"Name of the application that generates the log line."},"level":{"type":"string","description":"Set a value for the level. For example, sample values for this parameter are INFO, WARNING, ERROR."},"meta":{"type":"string","description":"This field is reserved for custom information that is associated with a log line. To add metadata to an API call, specify the meta field under the lines object. Metadata can be viewed inside that line's context."},"viewId":{"type":"string","description":"ID of a view."},"name":{"type":"string","description":"Name of a view."},"from":{"type":"string","description":"Start time. Set as UNIX timestamp in seconds or milliseconds."},"to":{"type":"string","description":"End time. Set as UNIX timestamp in seconds or milliseconds."},"size":{"type":"string","description":"Number of log lines to include in the export."},"hosts":{"type":"string","description":"Comma-separated list of hosts."},"apps":{"type":"string","description":"Comma-separated list of applications."},"levels":{"type":"string","description":"Comma-separated list of log levels."},"query":{"type":"string","description":"Search query."},"prefer":{"type":"string","description":"Defines the log lines that you want to export. Valid values are head, first log lines, and tail, last log lines. If not specified, defaults to tail."},"email":{"type":"string","description":"Specifies the email with the downloadable link of your export. By default, the log lines are streamed."},"emailSubject":{"type":"string","description":"Use to set the subject of the email. Use %20 to represent a space. For example, a sample value is Export%20logs."},"integration":{"type":"string","description":"Defines the type of notification channel. Valid values are: `email`, `webhook`, and `pagerduty`"},"archiveintegration":{"type":"string","description":"Defines the type of archive destination. Valid values are: `ibm`, `s3`, `gcs`, `dos`, `azblob`, and `swift`"},"pagination_id":{"type":"string","description":"ID that indicates which page of results to be retrieved. Leave empty for the initial export request."},"emails":{"type":"string","description":"Comma-separated list of email addresses."},"url":{"type":"string","description":"Webhook URL."},"key":{"type":"string","description":"PagerDuty key."},"triggerlimit":{"type":"string","description":"Specify the number of log lines that match the view's filtering and search criteria. When the number of log lines is reached, an alert is triggered."},"triggerinterval":{"type":"string","description":"Specify how often to trigger an alert. Valid values are: 30 seconds, 1 minute, 5 minutes, 15 minutes, 30 minutes, 1 hour, 6 hours, 12 hours, 24 hours"},"immediate":{"type":"boolean","description":"Set to true if you want the trigger condition to be evaluated as soon as the triggerlimit is reached."},"terminal":{"type":"boolean","description":"Set to true if you want the trigger condition to be evaluated after the time that you specify in the triggerinterval field is reached."},"operator":{"type":"string","description":"Type of alert. Valid values are: `presence`and `absence`."},"timezone":{"type":"string","description":"Timezone used to report timestamps. This can be any value defined in the tz database https://en.wikipedia.org/wiki/List_of_tz_database_time_zones.","example":"America/Chicago, EST, Etc/UTC, etc..."},"method":{"type":"string","description":"WebHook method such as POST.","enum":["POST","PUT","PATCH"]},"presetid":{"type":"string","description":"ID of a preset alert."},"category":{"type":"string","description":" Logical name that you can use to group views."},"groupname":{"type":"string","description":"Name of a log group."},"groupId":{"type":"string","description":"ID a log group."},"ruleId":{"type":"string","description":"ID an exclusion rule."},"accessscope":{"type":"string","description":"Query that determines the data that is visible to members of a group."},"apiKeyId":{"type":"string","description":"Unique id to identify a key"},"apiKey":{"type":"string","description":"Actual value of the key"},"created":{"type":"string","description":"The time the key was created as a unix timestamp in milliseconds."},"keyType":{"type":"string","description":"The type of the key","enum":["ingestion","service"]},"keyName":{"type":"string","description":"A user friendly name for a key"},"headers":{"type":"object","properties":{"timestamp":{"$ref":"#/components/schemas/X-MY-HEADER"}}},"bodyTemplate":{"type":"object","properties":{"timestamp":{"$ref":"#/components/schemas/my_log_lines"}}},"X-MY-HEADER":{"type":"string","description":"Header value"},"my_log_lines":{"type":"string","description":"Define the webhook body."},"channel":{"type":"object","properties":{"integration":{"$ref":"#/components/schemas/integration"},"emails":{"type":"array","items":{"$ref":"#/components/schemas/emails"}},"url":{"$ref":"#/components/schemas/url"},"key":{"$ref":"#/components/schemas/key"},"triggerlimit":{"$ref":"#/components/schemas/triggerlimit"},"triggerinterval":{"$ref":"#/components/schemas/triggerinterval"},"immediate":{"$ref":"#/components/schemas/immediate"},"terminal":{"$ref":"#/components/schemas/terminal"},"operator":{"$ref":"#/components/schemas/operator"},"timezone":{"$ref":"#/components/schemas/timezone"},"method":{"$ref":"#/components/schemas/method"},"headers":{"$ref":"#/components/schemas/headers"},"bodyTemplate":{"$ref":"#/components/schemas/bodyTemplate"}}},"configRequest":{"type":"object","properties":{"name":{"$ref":"#/components/schemas/name"},"query":{"$ref":"#/components/schemas/query"},"hosts":{"$ref":"#/components/schemas/hosts"},"apps":{"$ref":"#/components/schemas/apps"},"levels":{"$ref":"#/components/schemas/levels"},"category":{"type":"array","items":{"$ref":"#/components/schemas/categoryName"}},"presetid":{"$ref":"#/components/schemas/presetid"},"channels":{"type":"array","items":{"$ref":"#/components/schemas/channel"}}},"x-examples":{"example-1":{"name":"string","query":"string","hosts":"string","apps":"string","levels":"string","category":["string"],"presetid":"string","channels":[{"integration":"string","emails":"string","url":"string","key":"string","triggerlimit":"string","triggerinterval":"string","immediate":true,"terminal":true,"operator":"string","timezone":"string","method":"string","headers":{"timestamp":"string"},"bodyTemplate":{"timestamp":"string"}}]}}},"presetRequest":{"type":"object","properties":{"name":{"$ref":"#/components/schemas/name"},"channels":{"type":"array","items":{"$ref":"#/components/schemas/channel"}}}},"categoryName":{"type":"object","properties":{"name":{"$ref":"#/components/schemas/name"}}},"archivingConfigRequest":{"type":"object","properties":{"integration":{"$ref":"#/components/schemas/integration"},"bucket":{"$ref":"#/components/schemas/bucket"},"endpoint":{"$ref":"#/components/schemas/endpoint"},"apikey":{"$ref":"#/components/schemas/apikey"},"resourceinstanceid":{"$ref":"#/components/schemas/resourceinstanceid"},"accountname":{"$ref":"#/components/schemas/accountname"},"accountkey":{"$ref":"#/components/schemas/accountkey"},"projectid":{"$ref":"#/components/schemas/projectid"},"space":{"$ref":"#/components/schemas/space"},"accesskey":{"$ref":"#/components/schemas/accesskey"},"secretkey":{"$ref":"#/components/schemas/secretkey"},"authurl":{"$ref":"#/components/schemas/authurl"},"expires":{"$ref":"#/components/schemas/expires"},"username":{"$ref":"#/components/schemas/username"},"password":{"$ref":"#/components/schemas/password"},"tenantname":{"$ref":"#/components/schemas/tenantname"}},"x-examples":{"example-1":{"integration":"string","bucket":"string","endpoint":"string","apikey":"string","resourceinstanceid":"string"}}},"brokers":{"minItems":1,"type":"array","description":"List of URLs referencing Kafka broker connections via SASL_SSL","items":{"minLength":1,"type":"string"}},"topic":{"minLength":1,"type":"string","description":"Name of the relevant Kafka topic category storing log records"},"stream_user":{"minLength":1,"type":"string","description":"Username in provided credentials to authorize access to brokers"},"stream_password":{"minLength":1,"type":"string","description":"Password in provided credentials to authorize access to brokers","format":"password"},"streamConfigCommon":{"required":["brokers","topic","user"],"type":"object","properties":{"brokers":{"$ref":"#/components/schemas/brokers"},"topic":{"$ref":"#/components/schemas/topic"},"user":{"$ref":"#/components/schemas/stream_user"},"status":{"type":"string","description":"Enumerated (binary) string representing whether or not the stream config is active","readOnly":true,"enum":["active","inactive"]}}},"streamConfigRequest":{"description":"Contains settings needed to set up connection(s) to Kafka brokers","allOf":[{"$ref":"#/components/schemas/streamConfigCommon"},{"required":["password"],"type":"object","properties":{"password":{"$ref":"#/components/schemas/stream_password"}}}]},"streamExclusionRequest":{"required":["title"],"type":"object","properties":{"hosts":{"type":"array","items":{"$ref":"#/components/schemas/hosts"}},"apps":{"type":"array","items":{"$ref":"#/components/schemas/apps"}},"title":{"minLength":1,"type":"string"},"active":{"type":"boolean","default":false},"query":{"$ref":"#/components/schemas/query"},"id":{"minLength":1,"type":"string","readOnly":true}},"description":"","x-examples":{"example-1":{"hosts":["host-1","host-2"],"apps":["app-1","app-2"],"title":"title","active":false,"query":"query","id":"0000000"}}},"groupsRequest":{"type":"object","properties":{"name":{"$ref":"#/components/schemas/groupname"},"accessScopes":{"$ref":"#/components/schemas/accessscope"}}},"ingestlines":{"type":"object","properties":{"lines":{"type":"array","items":{"type":"object","required":["line"],"properties":{"timestamp":{"$ref":"#/components/schemas/timestamp"},"line":{"$ref":"#/components/schemas/line"},"app":{"$ref":"#/components/schemas/app"},"level":{"$ref":"#/components/schemas/level"},"meta":{"$ref":"#/components/schemas/meta"}}}}}},"errCode":{"type":"string","description":"Entity used as an arbitrary classifier of the error encountered"},"errMsg":{"type":"string","description":"Error information surfaced to end user(s) in the response"},"errValidation":{"type":"object","properties":{"message":{"type":"string","description":"Message providing context on the rule / property that failed validation"},"key":{"type":"string","description":"Relevant property or rule in the schema associated with failure message"}},"description":"Specific error details related to invalid / missing request parameters"},"errPropsDefault":{"type":"object","properties":{"code":{"$ref":"#/components/schemas/errCode"},"error":{"$ref":"#/components/schemas/errMsg"}}},"errPropsValidation":{"type":"object","properties":{"code":{"$ref":"#/components/schemas/errCode"},"details":{"$ref":"#/components/schemas/errValidation"}}},"integrationArchiving":{"type":"string","description":"Set to `ibm` to archive to IBM Cloud Object Storage"},"bucket":{"type":"string","description":"Name of the bucket."},"endpoint":{"type":"string","description":"Private endpoint associated with the bucket."},"apikey":{"type":"string","description":"API key that is needed to authenticate with the Cloud Object Storage service."},"resourceinstanceid":{"type":"string","description":"CRN of the Cloud Object Storage instance ID where the bucket is available."},"accountname":{"type":"string","description":"Account name"},"accountkey":{"type":"string","description":"Account key"},"projectid":{"type":"string","description":"Project ID"},"space":{"type":"string","description":"Space"},"accesskey":{"type":"string","description":"Access key"},"secretkey":{"type":"string","description":"Secret key"},"authurl":{"type":"string","description":"Auth URL"},"expires":{"type":"string","description":"Expires"},"username":{"type":"string","description":"Username"},"tenantname":{"type":"string","description":"Tenant name"},"uuid4":{"type":"string","format":"uuid4","example":"03290da0-79a9-4090-9189-efb853d049ec"},"corsHeaders":{"type":"object","properties":{"access-control-allow-origin":{"type":"string"},"access-control-allow-methods":{"type":"string"},"access-control-allow-headers":{"type":"string"},"access-control-max-age":{"type":"string"}}},"keysRequest":{"type":"object","properties":{"id":{"$ref":"#/components/schemas/apiKeyId"},"key":{"$ref":"#/components/schemas/apiKey"},"name":{"$ref":"#/components/schemas/keyName"},"created":{"$ref":"#/components/schemas/created"},"type":{"$ref":"#/components/schemas/keyType"}}},"keysPut":{"type":"object","properties":{"name":{"$ref":"#/components/schemas/keyName"}},"additionalProperties":false,"minProperties":1}},"securitySchemes":{"servicekeyAuth":{"type":"apiKey","in":"header","name":"servicekey"},"apikeyAuth":{"type":"apiKey","in":"header","name":"apikey"},"basicAuth":{"type":"http","scheme":"basic"}}},"x-readme":{"explorer-enabled":true,"proxy-enabled":true,"samples-enabled":true}}